**Models**:
- Binary Classifier (BC)
- Random Forest (RF)
- Neural Network (NN)

# Load Packages

In [ ]:
import tensorflow as tf
from tensorflow.keras import datasets, layers, models, losses

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from functools import reduce
from imblearn.over_sampling import RandomOverSampler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

# Load Datasets and Basic Data Cleaning

## BC & RF: features dataset

In [2]:
df_feature = pd.read_csv('~data/feature_extraction.csv')
df_feature = df_feature.dropna(how='all', subset=df_feature.columns[2:])
df_feature

,time,site,TUR_1x1_median,SPM_1x1_median,CHL_1x1_median,TUR_1x1_mean,SPM_1x1_mean,CHL_1x1_mean,TUR_1x1_q1,SPM_1x1_q1,...,CHL_11x11_median,TUR_11x11_mean,SPM_11x11_mean,CHL_11x11_mean,TUR_11x11_q1,SPM_11x11_q1,CHL_11x11_q1,TUR_11x11_q3,SPM_11x11_q3,CHL_11x11_q3
0,2022-03-04,Anderby,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.174551,163.135918,152.993287,9.480745,126.656470,115.165835,8.739565,184.262455,175.823985,10.048879
1,2022-03-04,Bexhill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.088710,68.446416,59.178691,9.029485,62.619209,52.394663,7.873103,72.854860,63.530318,10.056020
2,2022-03-04,Birling Gap,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.805366,93.880434,87.483492,11.032810,70.399693,59.039690,9.145264,91.852595,100.279610,12.380630
3,2022-03-04,"Botany Bay, Broadstairs",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.761849,83.942460,70.130099,8.039195,68.796310,53.251103,5.826829,101.135487,94.071441,8.775965
4,2022-03-04,Brightlingsea,62.57270,42.77478,10.132153,62.57270,42.77478,10.132153,62.57270,42.77478,...,8.110302,68.449360,52.265659,8.602104,62.192470,44.807648,7.444274,76.858376,60.001347,9.831872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28475,2022-10-31,Whitby,96.45255,67.53166,6.800380,96.45255,67.53166,6.800380,96.45255,67.53166,...,5.693440,33.249046,30.364642,5.453727,10.124196,6.075947,5.170083,17.858250,11.138832,6.066630
28476,2022-10-31,Whitley Bay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.309310,44.649534,46.954763,5.177130,7.078911,4.246786,3.856401,10.785609,6.658894,6.085422
28477,2022-10-31,Widemouth Sand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.953294,9.439017,6.185049,3.555955,1.677360,0.976173,2.053952,9.585481,5.794549,4.352078
28478,2022-10-31,Wilsthorpe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.383949,140.258110,127.778108,4.487975,58.708913,42.690909,3.901447,175.019072,162.879985,4.956142
28479,2022-10-31,Woolacombe Village,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.883528,34.662595,25.860545,6.887635,5.332965,3.172126,6.447352,62.290684,43.051556,7.345246

## NN: sites_data.csv

In [3]:
sites_data = pd.read_csv("~data/sites_data_11x11.csv")
sites_data

/var/folders/r5/x64ktbgx58365__7s6m8nvqh0000gn/T/ipykernel_62076/4127595665.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  sites_data = pd.read_csv("~data/sites_data_11x11.csv")

               time        lat       lon   TUR   SPM   CHL site
0        2022-03-01  55.189352 -1.519043 -10.0 -10.0 -10.0  NaN
1        2022-03-01  55.189352 -1.517296 -10.0 -10.0 -10.0  NaN
2        2022-03-01  55.189352 -1.515549 -10.0 -10.0 -10.0  NaN
3        2022-03-01  55.189352 -1.513802 -10.0 -10.0 -10.0  NaN
4        2022-03-01  55.189352 -1.512055 -10.0 -10.0 -10.0  NaN
...             ...        ...       ...   ...   ...   ...  ...
5197119  2022-04-26  50.283796 -3.898498 -10.0 -10.0 -10.0  NaN
5197120  2022-04-26  50.283796 -3.896751 -10.0 -10.0 -10.0  NaN
5197121  2022-04-26  50.283796 -3.895003 -10.0 -10.0 -10.0  NaN
5197122  2022-04-26  50.283796 -3.893256 -10.0 -10.0 -10.0  NaN
5197123  2022-04-26  50.283796 -3.891509 -10.0 -10.0 -10.0  NaN

[5197124 rows x 7 columns]

In [4]:
sites_data.isnull().sum()

time          0
lat           0
lon           0
TUR           0
SPM           0
CHL           0
site    3218411
dtype: int64

In [5]:
# Fill Null Values with 0, as we cannot have missing values in the tensors for neural network
# Later we will remove time, site pairs where all values are 0

sites_data.fillna(value=-10, inplace=True)

## All: Pollution Data

In [6]:
riskforecasting = pd.read_csv('~data/pollution_risk_forecasting.csv')
riskforecasting

,site,time,warning,riskLevelLabel
0,Ainsdale,2022-04-28,Pollution RIsk Forecasts will start soon,normal
1,Ainsdale,2022-04-29,Pollution RIsk Forecasts will start soon,normal
2,Ainsdale,2022-04-30,Pollution RIsk Forecasts will start soon,normal
3,Ainsdale,2022-05-04,No warnings in place,normal
4,Ainsdale,2022-05-05,No warnings in place,normal
...,...,...,...,...
66558,Yaverland,2023-04-29,Pollution RIsk Forecasts will start soon,normal
66559,Yaverland,2023-04-30,Pollution RIsk Forecasts will start soon,normal
66560,Yaverland,2023-05-01,No pollution incidents reported,normal
66561,Yaverland,2023-05-02,No pollution incidents reported,normal
66562,Yaverland,2023-05-03,No pollution incidents reported,normal

# Data Manipulation and Further Data Cleaning

### Replace NaNs with mean

In [7]:
def fill_na_values_with_mean(row, feature, dimensions):
    if pd.isnull(row).any():
        for dim in dimensions:
            if pd.isna(row[f"{feature}_{dim}x{dim}_median"]):
                available_medians = row[[f"{feature}_{i}x{i}_median" for i in dimensions if not pd.isna(row[f"{feature}_{i}x{i}_median"])]]
                row[f"{feature}_{dim}x{dim}_median"] = available_medians.mean()

            if pd.isna(row[f"{feature}_{dim}x{dim}_mean"]):
                available_means = row[[f"{feature}_{i}x{i}_mean" for i in dimensions if not pd.isna(row[f"{feature}_{i}x{i}_mean"])]]
                row[f"{feature}_{dim}x{dim}_mean"] = available_means.mean()

            if pd.isna(row[f"{feature}_{dim}x{dim}_q1"]):
                available_q1s = row[[f"{feature}_{i}x{i}_q1" for i in dimensions if not pd.isna(row[f"{feature}_{i}x{i}_q1"])]]
                row[f"{feature}_{dim}x{dim}_q1"] = available_q1s.mean()

            if pd.isna(row[f"{feature}_{dim}x{dim}_q3"]):
                available_q3s = row[[f"{feature}_{i}x{i}_q3" for i in dimensions if not pd.isna(row[f"{feature}_{i}x{i}_q3"])]]
                row[f"{feature}_{dim}x{dim}_q3"] = available_q3s.mean()
    return row

# apply the function to the DataFrame
dimensions = range(1, 12, 2)
df_feature_mean = df_feature
for feature in ["TUR", "SPM", "CHL"]:
    df_feature_mean = df_feature_mean.apply(fill_na_values_with_mean, axis=1, args=(feature, dimensions))
df_feature_mean

,time,site,TUR_1x1_median,SPM_1x1_median,CHL_1x1_median,TUR_1x1_mean,SPM_1x1_mean,CHL_1x1_mean,TUR_1x1_q1,SPM_1x1_q1,...,CHL_11x11_median,TUR_11x11_mean,SPM_11x11_mean,CHL_11x11_mean,TUR_11x11_q1,SPM_11x11_q1,CHL_11x11_q1,TUR_11x11_q3,SPM_11x11_q3,CHL_11x11_q3
0,2022-03-04,Anderby,154.820731,154.400027,9.514567,181.745684,179.326187,9.955211,133.352782,132.044801,...,9.174551,163.135918,152.993287,9.480745,126.656470,115.165835,8.739565,184.262455,175.823985,10.048879
1,2022-03-04,Bexhill,70.972747,61.532125,9.750251,70.301750,60.002133,9.671340,64.056580,53.386457,...,9.088710,68.446416,59.178691,9.029485,62.619209,52.394663,7.873103,72.854860,63.530318,10.056020
2,2022-03-04,Birling Gap,104.749541,103.453165,12.341927,116.809493,114.741870,12.746209,92.506296,85.332210,...,10.805366,93.880434,87.483492,11.032810,70.399693,59.039690,9.145264,91.852595,100.279610,12.380630
3,2022-03-04,"Botany Bay, Broadstairs",94.788783,80.138161,6.847596,96.950370,83.579236,8.478793,80.982484,66.573753,...,6.761849,83.942460,70.130099,8.039195,68.796310,53.251103,5.826829,101.135487,94.071441,8.775965
4,2022-03-04,Brightlingsea,62.572700,42.774780,10.132153,62.572700,42.774780,10.132153,62.572700,42.774780,...,8.110302,68.449360,52.265659,8.602104,62.192470,44.807648,7.444274,76.858376,60.001347,9.831872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28475,2022-10-31,Whitby,96.452550,67.531660,6.800380,96.452550,67.531660,6.800380,96.452550,67.531660,...,5.693440,33.249046,30.364642,5.453727,10.124196,6.075947,5.170083,17.858250,11.138832,6.066630
28476,2022-10-31,Whitley Bay,13.986871,8.806653,5.616894,38.060499,35.351141,6.012649,10.045105,6.241306,...,4.309310,44.649534,46.954763,5.177130,7.078911,4.246786,3.856401,10.785609,6.658894,6.085422
28477,2022-10-31,Widemouth Sand,14.621939,9.925846,4.180759,26.581445,18.738095,4.281405,10.205435,6.780138,...,2.953294,9.439017,6.185049,3.555955,1.677360,0.976173,2.053952,9.585481,5.794549,4.352078
28478,2022-10-31,Wilsthorpe,148.917323,129.900977,4.681791,192.257144,182.834253,4.814442,106.035125,88.341231,...,4.383949,140.258110,127.778108,4.487975,58.708913,42.690909,3.901447,175.019072,162.879985,4.956142
28479,2022-10-31,Woolacombe Village,18.952809,12.575870,6.407329,27.517441,19.767355,6.213830,7.104018,4.458032,...,6.883528,34.662595,25.860545,6.887635,5.332965,3.172126,6.447352,62.290684,43.051556,7.345246

In [8]:
df_merged = pd.merge(df_feature_mean, riskforecasting[['site', 'time', 'riskLevelLabel']], on=['site', 'time'])
df_merged

,time,site,TUR_1x1_median,SPM_1x1_median,CHL_1x1_median,TUR_1x1_mean,SPM_1x1_mean,CHL_1x1_mean,TUR_1x1_q1,SPM_1x1_q1,...,TUR_11x11_mean,SPM_11x11_mean,CHL_11x11_mean,TUR_11x11_q1,SPM_11x11_q1,CHL_11x11_q1,TUR_11x11_q3,SPM_11x11_q3,CHL_11x11_q3,riskLevelLabel
0,2022-03-17,Clacton Beach Martello Tower,118.376822,128.804776,6.110912,133.637767,131.241699,9.204947,99.024699,106.786907,...,134.067451,142.038767,9.482202,111.699040,124.813703,5.826829,143.633530,163.137970,9.977942,normal
1,2022-03-17,Frinton,121.957180,124.314230,9.526196,121.957180,124.314230,9.526196,121.957180,124.314230,...,119.602328,123.807567,8.214204,88.586640,99.837202,7.366510,141.179335,146.104910,9.199348,normal
2,2022-03-17,Holland,93.886387,127.049447,8.882336,94.090882,131.558654,8.536945,79.780317,117.204654,...,100.306580,120.473114,8.594822,87.195181,106.791605,5.838983,110.272972,130.367225,10.113032,normal
3,2022-03-25,Saltburn,32.998279,22.903673,8.738211,45.352201,34.120773,9.010215,22.092991,15.095140,...,28.619714,20.838840,8.042007,8.039810,4.767018,6.669945,41.280960,30.303242,9.205191,normal
4,2022-04-28,Anderby,110.902304,85.303489,8.383559,116.693696,87.915464,9.054671,98.014877,73.599407,...,93.950831,70.109661,8.508453,76.845565,55.396332,7.529623,103.967715,81.554440,9.071618,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17757,2022-09-30,"West Beach, Whitstable",81.680690,59.724228,8.813577,81.680690,59.724228,8.813577,81.680690,59.724228,...,58.557553,42.544375,8.810097,46.346252,32.059539,7.694540,71.138872,52.966091,9.407869,normal
17758,2022-09-30,West Mersea,49.489470,33.493950,8.567818,49.489470,33.493950,8.567818,49.489470,33.493950,...,81.927657,61.990242,8.165309,50.057903,33.471867,7.580462,104.015840,79.363790,8.339877,normal
17759,2022-09-30,West Runton,69.653060,58.496560,10.725086,69.653060,58.496560,10.725086,69.653060,58.496560,...,30.566341,25.068547,6.740001,13.936001,9.034503,5.398032,38.325114,30.779965,7.901433,normal
17760,2022-09-30,"Westbrook Bay, Margate",66.349400,49.060455,17.224031,66.349400,49.060455,17.224031,66.349400,49.060455,...,49.269262,34.810783,7.883557,39.316710,24.902056,7.230105,54.697723,40.696842,8.076657,normal
17761,2022-09-30,Winchelsea,41.281174,25.715336,6.568486,41.281174,25.715336,6.568486,41.281174,25.715336,...,23.628239,15.012895,4.302087,14.766009,8.285604,3.285116,30.627869,18.688794,4.585260,normal

## BC:

## RF:

In [9]:
# Remove rows that are all null values?

## NN: Combine Datasets to Create Input Dataset
For every site (430) and time (237), create a 11 x 11 x 3 tensor, each corresponding to one risk level label

In [10]:
%%time
def chl_to_array(chl_values):
    # Not 100% sure if this reshapes according to lat/lon (though it does not matter if we perform the same operation every time?)
    return np.array(chl_values).reshape(11, 11)

def get_features_data(sites_data, features_list):
    '''
    input: 
        - sites_data (pd.DataFrame):
            - dataframe where each row contains feature values for a time, site and coordinate
        - features_list (list):
            - list of strings of features to use
            
    output:
        - features data (pd.DataFrame)
            - row: data for every time and site pair
            - column: features
            - entries: np.array of shape 11x11
    '''
    dfs = []
    for feature in features_list:
        df = pd.DataFrame(sites_data.groupby(['time', 'site'])[feature].apply(chl_to_array))
        dfs.append(df)
    input_data = reduce(lambda  left,right: pd.merge(left,right,on=['time', 'site'],how='outer'), dfs)
    
    return input_data

features_df = get_features_data(sites_data, ['TUR', 'SPM', 'CHL'])
features_df

ValueError: cannot reshape array of size 13673 into shape (11,11)

In [11]:
# Merging datasets. Merge on riskforecasting (only add CHL values if we have riskLevellabel)
input_data = features_df.merge(riskforecasting, how='right', left_on=['time', 'site'], right_on=['time', 'site'])

NameError: name 'features_df' is not defined

In [ ]:
# Missing data check. 
# Data missing for 07-23 and 07-25 for all sites - No satellite data

input_data[input_data['CHL'].isnull()]['time'].value_counts()

In [ ]:
# Other missing values to look into - why do we have risk level labels but not satellite data when merging? Naming issue?

input_data[(input_data['CHL'].isnull()) & (input_data['time'] != '2022-07-23') & (input_data['time'] != '2022-07-25')]

In [ ]:
# Drop NA values for now as there are not that many of them
input_data.dropna(inplace=True)
input_data.shape

In [ ]:
# Remove rows where everything is 0 (i.e. all missing values)
def has_nonzero(arr):
    return np.any(arr != -10)

input_data = input_data[input_data['CHL'].apply(has_nonzero)]
input_data

# Train-Test Split
- Pick time-site pairs to use as train data and test data
- Potential for implementing cross validation

In [ ]:
time_site_pairs = input_data[['time', 'site']]

# 80/20 split
time_site_pairs_test = time_site_pairs.sample(frac=.2, random_state=42)
time_site_pairs_test

In [ ]:
time_site_pairs_train = time_site_pairs[~time_site_pairs.isin(time_site_pairs_test)].dropna()
time_site_pairs_train

# Train & Test Models 
- Train on training time-site pairs
- Test on testing time-site pairs

## BC

## RF

In [ ]:
# Train-test split
df_train = df_merged[df_merged.apply(lambda x: (x['time'], x['site']) in time_site_pairs_train, axis=1)]
df_test = df_merged[df_merged.apply(lambda x: (x['time'], x['site']) in time_site_pairs_test, axis=1)]

df_train.drop(['time', 'site'], axis=1, inplace=True)
df_test.drop(['time', 'site'], axis=1, inplace=True)

y_train = df_train.pop('riskLevelLabel')
y_test = df_test.pop('riskLevelLabel')

X_train = df_train
X_test = df_test


print('Training X Shape:', X_train.shape)
print('Training y Shape:', y_train.shape)
print('Testing X Shape:', X_test.shape)
print('Testing y Shape:', y_test.shape)

In [ ]:
# fit a random forest to the data
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

# make predictions
y_pred = rf.predict(X_test)

# evaluate the performance
from sklearn.metrics import classification_report
report = classification_report(y_test, y_pred)
print(report)

- predict well with the 'normal' risk level but not with the 'increased'.

### Importance of Feature Aggregation

In [ ]:
importance_dict = dict(zip(X.columns, rf.feature_importances_))

features = ['11x11', '9x9', '7x7', '5x5', '3x3', '1x1', 'TUR', 'SPM', 'CHL']

data = []
for s in features:
    sum_importance = np.sum([importance for feature, importance in importance_dict.items() if s in feature])
    data.append([s, sum_importance])

# Create a DataFrame with the calculated data
df_importances = pd.DataFrame(data, columns=['Feature', 'Sum of Importances'])

def highlight_max(s):
    if len(s) > 3:
        return ['background-color: #DEB887' if v in list(s[np.argsort(s)[-3:]]) else '' for v in s]
    else:
        return ['background-color: #8FBC8F' if v == s.max() else '' for v in s]

df_importances[:6].style.apply(highlight_max, subset=['Sum of Importances'])

In [ ]:
df_importances[-3:].style.apply(highlight_max, subset=['Sum of Importances'])

### PCA

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
pca_test = PCA(n_components=72)
pca_test.fit(X_train)
sns.set(style='whitegrid')
plt.plot(np.cumsum(pca_test.explained_variance_ratio_))
plt.xlabel('number of components')
plt.ylabel('cumulative explained variance')
plt.axvline(linewidth=4, color='r', linestyle = '--', x=5, ymin=0, ymax=1)
display(plt.show())
evr = pca_test.explained_variance_ratio_
cvr = np.cumsum(pca_test.explained_variance_ratio_)
pca_df = pd.DataFrame()
pca_df['Cumulative Variance Ratio'] = cvr
pca_df['Explained Variance Ratio'] = evr
display(pca_df.head(10))

In [ ]:
pca = PCA(n_components=10)
pca.fit(X_train)
X_train_pca = pca.transform(X_train)
X_test_pca = pca.transform(X_test)

In [ ]:
pca_dims = []
for x in range(0, len(pca_df)):
    pca_dims.append('PCA Component {}'.format(x))
pca_test_df = pd.DataFrame(pca_test.components_, columns=X.columns, index=pca_dims)
pca_test_df.head(10).T

In [ ]:
# fit a random forest to the data
rf_pca = RandomForestClassifier()
rf_pca.fit(X_train_pca, y_train)

# make predictions
y_pred_pca = rf_pca.predict(X_test_pca)

# evaluate the performance
from sklearn.metrics import classification_report
report = classification_report(y_test, y_pred_pca)
print(report)

## NN

# Final Results
Dummy / sketch dataframe (just as an example, sub-models and statistics tbc)

In [ ]:
tuples = [('Baseline Random Guess', 'N/A'),
        ('BC', 'No oversampling, all features'),
         ('BC', 'No oversampling, top 10 features'),
         ('BC', 'Oversampling, all features'),
         ('BC', 'Oversampling, top 10 features'),
         ('RF', 'No oversampling'),
         ('RF', 'Oversampling'),
         ('NN', 'No oversampling'),
         ('NN', 'Oversampling')]

index = pd.MultiIndex.from_tuples(tuples, names=["Model", "Sub-Model"])

df = pd.DataFrame(columns = {'F1': [0,0,0,0,0,0,0,0,0], 
                            'Precision': [0,0,0,0,0,0,0,0,0],
                            'Recall': [0,0,0,0,0,0,0,0,0],
                            'AUC': [0,0,0,0,0,0,0,0,0], 
                            'Acc': [0,0,0,0,0,0,0,0,0]}, index = index)

df