In [1]:
import pandas as pd
import seaborn as sns

In [ ]:
df = pd.read_csv('samples.csv')
df

,EUBWID,label,sampleTime,intestinalEnterococciQualifier,intestinalEnterococciCount,escherichiaColiQualifier,escherichiaColiCount,discountable,discountableReason,discounted
0,ukc1101-06000,Seaton Carew North,2022-05-06T11:25:00,=,18,<,10,False,NaN,NaN
1,ukc1101-06000,Seaton Carew North,2022-05-19T12:05:00,=,45,<,10,False,NaN,NaN
2,ukc1101-06000,Seaton Carew North,2022-05-25T12:50:00,=,130,=,310,False,NaN,NaN
3,ukc1101-06000,Seaton Carew North,2022-05-31T12:15:00,<,10,<,10,False,NaN,NaN
4,ukc1101-06000,Seaton Carew North,2022-06-08T12:51:00,=,250,=,270,True,Short term pollution,True
...,...,...,...,...,...,...,...,...,...,...
7204,ukk4307-33900,Westward Ho!,2022-08-18T13:10:00,<,10,<,10,False,NaN,NaN
7205,ukk4307-33900,Westward Ho!,2022-08-25T13:30:00,<,10,<,10,False,NaN,NaN
7206,ukk4307-33900,Westward Ho!,2022-09-08T10:05:00,=,64,=,45,False,NaN,NaN
7207,ukk4307-33900,Westward Ho!,2022-09-13T13:15:00,<,10,<,10,False,NaN,NaN
7208,ukk4307-33900,Westward Ho!,2022-09-22T13:05:00,<,10,<,10,False,NaN,NaN

In [ ]:
mean_counts = df.groupby('label')[['intestinalEnterococciCount', 'escherichiaColiCount']].mean()
mean_counts

                         intestinalEnterococciCount  escherichiaColiCount
label
Ainsdale                                      59.85                147.25
Allonby                                      113.75                115.00
Amble Links                                   44.80                 52.30
Anderby                                       12.40                 11.70
Anstey's Cove (Torquay)                       44.50                 18.80
...                                             ...                   ...
Withernsea                                    20.90                 25.40
Wolvercote Mill Stream                       239.50                574.00
Woolacombe Village                            25.90                 30.00
Worthing                                     154.90                 76.80
Yaverland                                     13.40                 23.70

[420 rows x 2 columns]

In [ ]:
df['discountable'].value_counts()

False    7120
True       89
Name: discountable, dtype: int64

In [ ]:
df['Equal_intestinalEnterococci'] = df['intestinalEnterococciQualifier'] == '='
df['Equal_escherichiaColi'] = df['escherichiaColiQualifier'] == '='

relation_discountable = df.groupby(['Equal_intestinalEnterococci', 'Equal_escherichiaColi'])['discountable'].mean()
relation_discountable

Equal_intestinalEnterococci  Equal_escherichiaColi
False                        False                    0.001309
                             True                     0.005083
True                         False                    0.009901
                             True                     0.038522
Name: discountable, dtype: float64

In [ ]:
df['discountable'] = df['discountable'].astype(int)
mean_discountable = df.groupby('label')['discountable'].mean().reset_index()
mean_discountable = mean_discountable.sort_values('discountable', ascending=False)
mean_discountable

                                label  discountable
108                         East Looe          0.35
77                       Combe Martin          0.25
398  Weston-super-Mare Uphill Slipway          0.15
15                            Bexhill          0.15
62                     Charmouth West          0.10
..                                ...           ...
154                          Hillhead          0.00
153                        Highcliffe          0.00
152                 Herne Bay Central          0.00
151                         Herne Bay          0.00
419                         Yaverland          0.00

[420 rows x 2 columns]