In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/SallyLai/Desktop/LSE/Masters/Capstone/capstone-project-sewage-pollution/copernicus_code/sites_data_11x11.csv")
df

,time,lat,lon,TUR,SPM,CHL,site
0,2022-03-01,55.189352,-1.519043,NaN,NaN,NaN,Newbiggin_North
1,2022-03-01,55.189352,-1.517296,NaN,NaN,NaN,Newbiggin_North
2,2022-03-01,55.189352,-1.515549,NaN,NaN,NaN,Newbiggin_North
3,2022-03-01,55.189352,-1.513802,NaN,NaN,NaN,Newbiggin_North
4,2022-03-01,55.189352,-1.512055,NaN,NaN,NaN,Newbiggin_North
...,...,...,...,...,...,...,...
12331105,2022-10-31,50.277315,-3.893256,2.006134,1.186131,1.828091,Bigbury-on-Sea_South
12331106,2022-10-31,50.277315,-3.891509,0.708182,0.406647,1.046769,Bigbury-on-Sea_South
12331107,2022-10-31,50.277315,-3.889762,1.258156,0.729469,1.327342,Bigbury-on-Sea_South
12331108,2022-10-31,50.277315,-3.888015,1.037095,0.598882,1.254974,Bigbury-on-Sea_South
12331109,2022-10-31,50.277315,-3.886268,0.563590,0.323039,1.018072,Bigbury-on-Sea_South

1. Figures on missing data
    - How many sites do not have any data at all from March - November
    - How many sites do not have any data within x number of pixels
    - % coverage for sites across time
    
2. Decide what to do with missing data

3. Feature: Get one figure for every time + site pair
    - Mean / Median / Quantile of non-missing data around the point (all 11 x 11 pixels)
    - Mean / Median / Quantile of non-missing data around the point (less pixels, maybe 3 x 3 / 5 x 5)

Post Feature Extraction:
1. EDA
2. Binary Classifier

# Quantifying Missing Data

In [4]:
len(df['time'].unique())

237

In [5]:
len(df['site'].unique())

430

In [ ]:
time = df['time'].unique()[0]
site = df['site'].unique()[0]

In [ ]:
missing_data_11x11 = []

for time in df['time'].unique():
    for site in df['site'].unique():